# 4th and Punt: Forgone Conclusion or Missed Opportunity?
There is nothing as sure as an NFL head coach's decision when faced with a 4th down deep in your own territory - you punt. There is nothing to think about. Anyone who knows anything about football understands the risk of failing to get enough yardage on 4th down is usually not worth the reward. It's a tale as old as time. But is it still true? I'm going to take a look at this past 2018 NFL season to put this dogmatic theory to the test.

### The Data
The data was gathered from the website __[NFLsavant.com](http://www.nflsavant.com/about.php)__ I chose to only use the data for the most current season to test the larger theory of "Punt on 4th and long" on a smaller sample.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('pbp-2018.csv')
df

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2018090600,2018-09-06,2,6,9,PHI,ATL,0,0,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0
1,2018090600,2018-09-06,2,0,0,NaN,ATL,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
2,2018090600,2018-09-06,3,0,0,NaN,ATL,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
3,2018090600,2018-09-06,4,2,19,NaN,ATL,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
4,2018090600,2018-09-06,4,1,18,NaN,ATL,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
5,2018090901,2018-09-09,1,0,0,NaN,PIT,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
6,2018090901,2018-09-09,2,1,58,NaN,PIT,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
7,2018090902,2018-09-09,1,1,27,NaN,CIN,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
8,2018090902,2018-09-09,1,0,0,NaN,CIN,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
9,2018090902,2018-09-09,2,3,1,IND,CIN,0,0,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0
10,2018090902,2018-09-09,3,0,0,NaN,CIN,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
11,2018090903,2018-09-09,1,0,0,NaN,TEN,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
12,2018090903,2018-09-09,3,5,23,NaN,TEN,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
13,2018090903,2018-09-09,3,0,0,NaN,TEN,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
14,2018090903,2018-09-09,4,3,49,MIA,TEN,0,0,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0
15,2018090903,2018-09-09,4,0,10,MIA,TEN,1,10,52,...,0,0,NaN,48,OPP,0,NaN,0,NaN,0
16,2018090904,2018-09-09,1,0,0,NaN,SF,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
17,2018090904,2018-09-09,2,0,6,NaN,SF,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
18,2018090905,2018-09-09,3,0,0,NaN,HOU,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
19,2018090905,2018-09-09,4,2,0,NaN,HOU,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
20,2018090906,2018-09-09,2,2,0,NaN,TB,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
21,2018090908,2018-09-09,1,0,25,NaN,KC,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
22,2018090908,2018-09-09,2,7,8,KC,LAC,2,7,28,...,0,0,RIGHT END,28,OWN,0,NaN,0,NaN,0
23,2018090908,2018-09-09,4,1,57,NaN,KC,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
24,2018090909,2018-09-09,3,14,26,ARI,WAS,1,10,52,...,0,0,CENTER,48,OPP,0,NaN,0,NaN,0
25,2018090910,2018-09-09,3,0,0,NaN,DAL,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
26,2018090910,2018-09-09,4,1,27,NaN,DAL,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
27,2018090911,2018-09-09,1,0,0,NaN,SEA,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
28,2018090911,2018-09-09,2,0,0,NaN,SEA,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
29,2018090911,2018-09-09,4,2,0,NaN,SEA,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44986,2018123015,2018-12-30,2,5,44,ARI,SEA,0,0,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
44987,2018123015,2018-12-30,2,2,41,ARI,SEA,2,10,79,...,0,0,NaN,21,OPP,0,NaN,0,NaN,0
44988,2018123015,2018-12-30,2,2,0,ARI,SEA,3,15,74,...,0,0,NaN,26,OPP,0,NaN,0,NaN,0
44989,2018123015,2018-12-30,2,1,18,ARI,SEA,4,21,68,...,0,0,NaN,32,OPP,0,NaN,0,NaN,0
44990,2018123015,2018-12-30,2,0,21,ARI,SEA,1,10,65,...,0,0,NaN,35,OPP,0,NaN,0,NaN,0
44991,2018123015,2018-12-30,2,0,15,ARI,SEA,2,5,70,...,0,0,NaN,30,OPP,0,NaN,0,NaN,0
44992,2018123015,2018-12-30,2,0,11,ARI,SEA,3,5,70,...,0,0,NaN,30,OPP,0,NaN,0,NaN,0
44993,2018123015,2018-12-30,3,9,11,ARI,SEA,1,10,55,...,0,0,RIGHT TACKLE,45,OPP,0,NaN,0,NaN,0
44994,2018123015,2018-12-30,3,8,29,ARI,SEA,2,9,56,...,0,0,NaN,44,OPP,0,NaN,0,NaN,0
44995,2018123015,2018-12-30,3,7,38,ARI,SEA,4,13,52,...,0,0,NaN,48,OPP,0,NaN,0,NaN,0
44996,2018123015,2018-12-30,3,5,19,SEA,ARI,1,10,72,...,0,0,NaN,28,OPP,0,NaN,0,NaN,0
44997,2018123015,2018-12-30,3,4,40,SEA,ARI,1,10,83,...,0,0,RIGHT TACKLE,17,OPP,0,NaN,0,NaN,0
44998,2018123015,2018-12-30,3,4,34,SEA,ARI,0,0,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
44999,2018123015,2018-12-30,3,0,11,ARI,SEA,0,0,98,...,1,1,NaN,2,OPP,0,NaN,0,NaN,0
45000,2018123015,2018-12-30,4,8,58,SEA,ARI,1,10,69,...,0,0,CENTER,31,OPP,0,NaN,0,NaN,0
45001,2018123015,2018-12-30,4,8,17,SEA,ARI,2,12,67,...,0,0,NaN,33,OPP,0,NaN,0,NaN,0
45002,2018123015,2018-12-30,4,7,38,SEA,ARI,1,10,79,...,0,0,NaN,21,OPP,0,NaN,0,NaN,0
45003,2018123015,2018-12-30,4,7,32,SEA,ARI,2,10,79,...,0,0,NaN,21,OPP,0,NaN,0,NaN,0
45004,2018123015,2018-12-30,4,6,59,SEA,ARI,3,9,80,...,0,0,NaN,20,OPP,0,NaN,0,NaN,0
45005,2018123015,2018-12-30,4,6,25,SEA,ARI,4,13,76,...,0,0,NaN,24,OPP,0,NaN,0,NaN,0
45006,2018123015,2018-12-30,4,5,6,ARI,SEA,1,10,55,...,0,0,CENTER,45,OPP,0,NaN,0,NaN,0
45007,2018123015,2018-12-30,4,4,24,ARI,SEA,2,5,60,...,0,0,RIGHT TACKLE,40,OPP,0,NaN,0,NaN,0
45008,2018123015,2018-12-30,4,3,44,ARI,SEA,3,1,64,...,0,0,CENTER,36,OPP,0,NaN,0,NaN,0
45009,2018123015,2018-12-30,4,3,3,ARI,SEA,1,10,65,...,0,0,RIGHT TACKLE,35,OPP,0,NaN,0,NaN,0
45010,2018123015,2018-12-30,4,2,27,ARI,SEA,2,9,66,...,0,0,NaN,34,OPP,0,NaN,0,NaN,0
45011,2018123015,2018-12-30,4,2,0,ARI,SEA,3,12,63,...,0,0,NaN,37,OPP,0,NaN,0,NaN,0
45012,2018123015,2018-12-30,4,1,54,ARI,SEA,4,12,63,...,0,0,NaN,37,OPP,0,NaN,0,NaN,0
45013,2018123015,2018-12-30,4,0,16,SEA,ARI,2,8,77,...,0,0,RIGHT END,23,OPP,0,NaN,0,NaN,0
45014,2018123015,2018-12-30,4,0,8,SEA,ARI,1,10,88,...,0,0,NaN,12,OPP,0,NaN,0,NaN,0
45015,2018123015,2018-12-30,4,0,3,SEA,ARI,2,13,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0

This is a detailed account of the season and includes the following statistics:

In [5]:
list(df)

['GameId',
 'GameDate',
 'Quarter',
 'Minute',
 'Second',
 'OffenseTeam',
 'DefenseTeam',
 'Down',
 'ToGo',
 'YardLine',
 'Unnamed: 10',
 'SeriesFirstDown',
 'Unnamed: 12',
 'NextScore',
 'Description',
 'TeamWin',
 'Unnamed: 16',
 'Unnamed: 17',
 'SeasonYear',
 'Yards',
 'Formation',
 'PlayType',
 'IsRush',
 'IsPass',
 'IsIncomplete',
 'IsTouchdown',
 'PassType',
 'IsSack',
 'IsChallenge',
 'IsChallengeReversed',
 'Challenger',
 'IsMeasurement',
 'IsInterception',
 'IsFumble',
 'IsPenalty',
 'IsTwoPointConversion',
 'IsTwoPointConversionSuccessful',
 'RushDirection',
 'YardLineFixed',
 'YardLineDirection',
 'IsPenaltyAccepted',
 'PenaltyTeam',
 'IsNoPlay',
 'PenaltyType',
 'PenaltyYards']

The total number of plays recorded in the 2018 season is:

In [2]:
print(len(df))

45016

Out of the 45016 plays I want to know how many were 4th down plays:

In [9]:
fourth = df[df['Down'] == 4]
len(fourth)

3764

In [ ]:
Or, about